  <div class="step1header">
    <div style="float:right"><img src="/images/minus.gif" alt="minus" width="10" height="10" /></div>
    Upload CSV file
  </div>

  <div class="step2mainstyle">
    <%= form_for @job, :action => url(:jobs), :method => 'create' do %>
      <%= label "CSV File" %>
      <%= file_field :csv %>
      <%= submit "Upload" %>
    <% end =%>

  </div>
