            <div class="missingfilesstyle">
              <div class="warningbox" border="0" cellpadding="0" cellspacing="0">
                <div style="display: inline; color:#FF0000">Warning:</div></b> The following files mentioned in the CSV file could not be found.<br/>
                <div>
                  <% unless @job.all_images_exist? -%>
                    <p>Some compared images are missing! Please upload the following files. (Supported formats: jpeg, jpg, png, zip, rar, tar)</p>
                    <% @job.missing_images.each do |image| -%>
                      <%= File.join(@job.relative_images_path, image) -%><br/>
                    <% end -%>
                    <% @job.missing_reference_images.each do |image| -%>
                      <%= File.join(@job.relative_images_path, image) -%><br/>
                    <% end -%>
                  .. make a form here ..
                  <% end -%>
                </div>
              Please use the form above to upload the missing files.
              </div>
            </div>
