<div class="jobactionstyle">
Are you sure you want to delete the job: <b><%= @job.table_name -%>"</b>?
<%= link_to "Yes", url(:controller=> :jobs, :id => @job.id, :action => 'destroy') %>
<%= link_to "No", url(:jobs) %>
</div>
