
.loginerrordiv{
        float: left;
        font: 0.7em sans-serif;
        background-color: #DDD;
        border-left: solid 1px #999;
        border-right: solid 1px #999;
        width: 80%;
        padding: 0px 4px;
        margin-left: 10%;
}


.loginpageheader{
	float: left;
	font: bold 0.7em sans-serif;
	background-color: #DDD;
	border-left: solid 1px #999;
	border-bottom: solid 1px #999;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	background: url(/images/top_bg.gif);
	width: 80%;
	padding: 0px 4px;
	margin-left: 10%;
	margin-top: 10%;
}

.loginpagemain{
	float: left;
	font: 0.7em sans-serif;
	background-color: #DDD;
	border-left: solid 1px #999;
	border-bottom: solid 1px #999;
	border-right: solid 1px #999;
	width: 80%;
	padding: 0px 4px;
	margin-left: 10%;
}

.errortext{
margin-left: 10px;
}

.errortext h1,h2,h3{
color:#000000;
text-decoration: none;
font-size: 12px;
}

.errortext li{
color:#FF0000;
}

.loginpass{
float: left;
margin-top:5px;
font: bold;
}

.title{
font: bold 1.2em sans-serif;
}

.login_header{
	float: left;
	font: bold 0.7em sans-serif;
	background-color: #DDD;
	border-left: solid 1px #999;
	border-bottom: solid 1px #999;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	padding: 0px 4px;
	background: url(/images/top_bg1.gif);
	width: 96%;
	height: 33px;
}

.jobsoverview{
	float: left;
	font: 0.7em sans-serif;
	background-color: #DDD;
	border-left: solid 1px #999;
	border-bottom: solid 1px #999;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	padding: 0px 4px;
	background-color: #EEE;
	width: 96%;
	margin-top: 5px;
}


.bodystyle_cursor{
background-color: #FFFFFF;
cursor:move;
}

.bodystyle{
background-color: #FFFFFF;
}

.popup_header{
	font: bold 0.7em sans-serif;
	background-color: #DDD;
	border-left: solid 1px #999;
	border-bottom: solid 1px #999;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	background: url(/images/top_bg.gif);
	width: 100%;
	padding: 0px 5px;
}

.popup_main{
	border-left: solid 1px #999;
	border-bottom: solid 1px #999;
	border-right: solid 1px #999;
	background-color: #EEE;
	width: 100%;
	height: 500px;
	padding: 10px 5px;
	text-align:center;
}

.popup_image{
width: 99%;
height: 99%;
}

.popup_imagewindow{
	float:left;
	width: 48%;
	height: 450px;
	border-left: solid 1px #999;
	border-bottom: solid 1px #999;
	border-right: solid 1px #999;
	border-top: solid 1px #999;
	vertical-align:middle;
	margin: 0px 3px;

}

.popup_text{
	float:left;
	width: 48%;
	height: 25px;
	border-left: solid 1px #999;
	border-bottom: solid 1px #999;
	border-right: solid 1px #999;
	vertical-align:middle;
	margin: 0px 3px
}

.popup_visable{
position:absolute; 
margin: auto; 
height: 300px; 
width: 900px; 
left: 100px; 
top: 46px;
visibility:visible
}

.popup_hidden{
visibility:hidden;
}

.step1header{
	float: left;
	font: bold 0.7em sans-serif;
	background-color: #DDD;
	border-left: solid 1px #999;
	border-bottom: solid 1px #999;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	padding: 0px 4px;
	background: url(/images/top_bg.gif);
	width: 96%;
}

.step2header{
	float: left;
	font: bold 0.7em sans-serif;
	background-color: #DDD;
	border-left: solid 1px #999;
	border-bottom: solid 1px #999;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	padding: 0px 4px;
	background: url(/images/top_bg.gif);
	width: 96%;
}

.imageresultsheader{
	float: right;
	font-weight:bold;
	background-color: #DDD;
	border-left: solid 1px #999;
	border-bottom: solid 1px #999;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	padding: 0px 4px;
	background: url(/images/top_bg.gif);
	width: 65%;
}

.imageresultsmain{
	float: right;
	border-left: solid 1px #999;
	border-bottom: solid 1px #999;
	border-right: solid 1px #999;
	background-color: #EEE;
	width: 30%;
	padding: 0px 4px;
	width: 65%;
}

.step1mainstyle{
	float: left;
	margin: 0px 0px 0px 0px;
	clear: both;
	font: 0.7em sans-serif;
	border-left: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
	border-right: solid 1px #999;
	background-color: #EEE;
	width: 96%;
	padding: 0px 4px;
}

.step2mainstyle{
	float: left;
	margin: 0px 0px 0px 0px;
	clear: both;
	font: 0.7em sans-serif;
	border-left: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
	border-right: solid 1px #999;
	background-color: #EEE;
	width: 96%;
	padding: 10px 4px;
}

.step3header{
	float: left;
	font-weight:bold;
	background-color: #DDD;
	border-left: solid 1px #999;
	border-bottom: solid 1px #999;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	background: url(/images/top_bg.gif);
	width: 30%;
	padding: 0px 4px;
}

.step3mainstyle{
	float: left;
	border-left: solid 1px #999;
	border-bottom: solid 1px #999;
	border-right: solid 1px #999;
	background-color: #EEE;
	width: 30%;
	padding: 4px 4px;
	font-style:normal;
}

.imagecontainer{
	border-left: solid 1px #999;
	border-bottom: solid 1px #999;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
}

.warningbox{
	width: 60%;
	border-left: solid 1px #999;
	border-bottom: solid 1px #999;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
}
.uploadbox{
	width: 60%;
	border-left: solid 1px #999;
	border-bottom: solid 1px #999;
	border-right: solid 1px #999;
}

.missingfilesstyle{
padding-top: 5px;
}
