<div id="container">
  <div id="header-container">
    <img src="/images/notfound.png" />
    <h2>The page was not found</h2>
    <hr />
  </div>

  <div id="left-container">
    <h3>Exception:</h3>
    <p><%= request.exceptions.first.message %> <BR> Please try to refresh the page or start over by clicking <a href="/">here</a>.</p> 
  </div>
</div>
