.bodystyle{
background-color: #FFFFFF;
}

.step1header{
	float: left;
	font: bold 0.7em sans-serif;
	background-color: #DDD;
	border-left: solid 1px #999;
	border-bottom: solid 1px #999;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	padding: 0px 4px;
	background: url(/images/top_bg.gif);
	width: 98%;
}

.step2header{
	float: left;
	font: bold 0.7em sans-serif;
	background-color: #DDD;
	border-left: solid 1px #999;
	border-bottom: solid 1px #999;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	padding: 0px 4px;
	background: url(/images/top_bg.gif);
	width: 98%;
}

.imageresultsheader{
	float: right;
	font-weight:bold;
	background-color: #DDD;
	border-left: solid 1px #999;
	border-bottom: solid 1px #999;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	padding: 0px 4px;
	background: url(/images/top_bg.gif);
	width: 65%;
}

.imageresultsmain{
	float: right;
	border-left: solid 1px #999;
	border-bottom: solid 1px #999;
	border-right: solid 1px #999;
	background-color: #EEE;
	width: 30%;
	padding: 0px 4px;
	width: 65%;
}

.step1mainstyle{
	float: left;
	margin: 0px 0px 0px 0px;
	clear: both;
	font: 0.7em sans-serif;
	border-left: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
	border-right: solid 1px #999;
	background-color: #EEE;
	width: 98%;
	padding: 0px 4px;
}

.step2mainstyle{
	float: left;
	margin: 0px 0px 0px 0px;
	clear: both;
	font: 0.7em sans-serif;
	border-left: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
	border-right: solid 1px #999;
	background-color: #EEE;
	width: 98%;
	padding: 10px 4px;
}

.step3header{
	float: left;
	font-weight:bold;
	background-color: #DDD;
	border-left: solid 1px #999;
	border-bottom: solid 1px #999;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	background: url(/images/top_bg.gif);
	width: 30%;
	padding: 0px 4px;
}

.step3mainstyle{
	float: left;
	border-left: solid 1px #999;
	border-bottom: solid 1px #999;
	border-right: solid 1px #999;
	background-color: #EEE;
	width: 30%;
	padding: 4px 4px;
	font-style:normal;
}

.imagecontainer{
	border-left: solid 1px #999;
	border-bottom: solid 1px #999;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
}

.warningbox{
	width: 60%;
	border-left: solid 1px #999;
	border-bottom: solid 1px #999;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
}
.uploadbox{
	width: 60%;
	border-left: solid 1px #999;
	border-bottom: solid 1px #999;
	border-right: solid 1px #999;
}

.missingfilesstyle{
padding-top: 5px;
}
